@{
  Layout = "_Layout";
}

@using Market.Models;
@model IEnumerable<Market.Models.Sweet>

<h1>Sweets for @User.Identity.Name</h1>

@if (Model.Any())
{
  <ul>
    @foreach (Sweet sweet in Model)
    {
      <li>@Html.ActionLink($"{sweet.Description}", "Details", new { id = sweet.SweetId })</li>
    }
  </ul>
} 
else
{
  <h3>No sweets have been added yet!</h3>
}

<p>@Html.ActionLink("Add new sweet", "Create")</p>

<p>@Html.ActionLink("Home", "Index", "Home")</p>